.todolist h1{
    border-bottom: 1px solid #ccc;
}
.c-title01{
    color: #fff;
    position: relative;
}
.c-title01 i{
    font-size: 25px;
    line-height: 1;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-weight: normal;
}
i{
    margin: 0 5px;
}
.dropdown-item{
    position: relative;
    padding-right: 40px;
}
.is-active:before{
    content: '\f00c';
    font-family: 'FontAwesome';
    font-weight: normal;
    font-size: 18px;
    line-height: 1;
    position: absolute;
    top: calc(50% - 9px);
    right: 10px;
}